.cardContainer {
    padding: 15px;
    border: 1px solid #000;
}

/* Justify */
.justifyCenter {
    justify-content: center;
}

.justifLeft {
    justify-content: start;
}

.justifRight {
    justify-content: right;
}

/* display */

.displayFlex {
    display: flex;
}

.displayBlock {
    display: block;
}

/* Flex direction */

.flexDirectionRow {
    flex-direction: row;
}

.flexDirectionColumn {
    flex-direction: column;
}